@keyframes blink {
    0%{
        left: -130%;
    }
    100%{
        left:130%
    }
}

.default {
    background: skyblue;
    color: white;
    outline: none;
}

.red {
    background: #dd3355;
}

.button {
    min-width: 50px;
    min-height: 20px;
    position: relative;
    padding: 5px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    border-color: rgb(191, 201, 255);
}

.button::after{
    display: block;
    content: '';
    position: absolute;

    left: -130%;
    top: 0;
    height: 100%;
    width: 20%;

    transform: skew(45deg);

    background-color: #fff;
    opacity: 0.7;

    z-index: 14;
}

.button:hover::after{
    animation: blink 0.33s ease;
}

.button:hover::before{
    display: block;
    content: '';
    position: absolute;

    left: -100vw;
    top: 0;
    height: 100vh;
    width: 300vw;

    background-color: #fff;
    opacity: 0.2;

    z-index: 7;
}

button:focus{
    outline: skyblue solid 1px;
}

.button:active{
    background: skyblue;
}

.button:disabled{
    color: #515151;
    cursor: auto;
}

.button:disabled::after{
    z-index: -1;
}

.button:disabled::before{
    z-index: -1;
}