
.header {
    grid-area: header;
    background: linear-gradient(rgb(191, 201, 255), white);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}

.header img {
    display: block;
    height: 65px;
    width: 255px;
    margin-left: 15px;
    object-fit: cover;
    object-position: center;
}

.loginBlock{
    float: right;
    margin: 10px 10px 0 0;
}

.loginBlock a {
    color: white;
}
