.nav {
    padding: 5px;
    margin: 10px;
    grid-area: nav;
    background-color: white;
    border-radius: 25px;
}
.item{
    margin-top: 5px;
    padding: 5px;
}

.item:hover{
    background-color: skyblue;
    transition-duration: 0.4s;
}

.itemText{
    margin-left: 10px;
}

.itemContent {
    display: flex;
    align-items: center;
}

.item a{
    color: black;
    text-decoration: none;

}
.item a.activeLink{
    color: #ffde00;
}

.icon{
    width: 30px;
}